<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.dao.UserDao">
    <insert id="insert">
        insert into t_business_user(name, age, addr)
        values (#{name}, #{age}, #{addr})
    </insert>
    <update id="updateById">
        update t_business_user
        set name=#{name},
            age=#{age},
            addr=#{addr}
        where id = #{id}
    </update>
    <update id="updateByName">
        update t_business_user
        set
            age=#{age},
            addr=#{addr}
        where name = #{name}
    </update>
    <delete id="deleteByName">
        delete
        from t_business_user
        where name = #{name}
    </delete>


    <select id="list" resultType="com.lt.model.User">
        select *
        from t_business_user
    </select>



    <select id="getByName" resultType="com.lt.model.User">
        select *
        from t_business_user
        where name = #{name}
    </select>
</mapper>
